/* 
Color Pallete
Body - > #1C7C54
Links - > #DEF4C6
Others
#73E2A7
#1B512D
#B1CF5F
*/
body {
  background-color: #1C7C54;
}

.header {
  text-align: center;
}

a {
  color: #DEF4C6;
}

h1 {
  color:#DEF4C6;
}

h3 {
  color: #DEF4C6;
}

.about {
  color: #DEF4C6;
  text-align: center;
}