/* 
Color Pallete
Body - > #1C7C54
Links - > #DEF4C6
Others
#73E2A7
#1B512D
#B1CF5F
*/
body {
  background-color: #083D77;
}

.header {
  text-align: center;
}

a {
  color: #EBEBD3;
}

h1 {
  color:#EBEBD3;
}

h3 {
  color: #EBEBD3;
}

.about {
  color: #EBEBD3;
  text-align: center;
  font-size: 20px;
}
